* {
  margin: 0;
}

header {
  padding: 1em;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#header-title {
  font-family: Asap;
  text-align: center;
  color: deepskyblue;
  font-weight: 800;
  text-decoration: underline;
}

.timer {
  text-align: center;
  font-family: Montserrat;
  font-size: 5rem;
}

.buttons {
  text-align: center;
  margin-top: 2em;
}

.buttons button {
  border: none;
  margin-right: 2em;
}

span {
  color: whitesmoke;
}